.c-layout {
  position: relative;
  padding-top: 18rem;

  @include max-width(md) {
    padding-top: 10rem;
  }
}

.c-layout__header {
  position: fixed;
  z-index: 9;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0) 0%, rgb(22, 22, 22) 100%);
  padding: $space-20 0;
  width: 100%;
  top: 0;

  & > div {
    display: flex;
    align-items: center;
    gap: $space-32;
  }
}

.c-layout__header-links {
  display: flex;
  align-items: center;
  gap: $space-16;
}

.c-layout__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;

  @include max-width(md) {
    height: 20rem;
  }
}