.c-single-person__infos {
  @include min-width(md) {
    background-color: var(--color-neutral-2);
    padding: $space-20;
    border-radius: var(--radius-md);
  }
}

.c-single-person__intro {
  display: flex;
  gap: $space-10;

  & > div {
    display: flex;
    flex-direction: column;
    gap: $space-12;
  }

  @include max-width(md) {
    flex-direction: column;
  }
}

.c-single-person__picture {
  max-width: 50rem;
  height: auto;
  border-radius: var(--radius-md);
}

.c-single-person__socials {
  display: flex;
  align-items: center;
  gap: $space-10;
  flex-wrap: wrap;

  a {
    color: var(--text-white);
    transition: color var(--transition-in-out);

    &:hover {
      color: var(--text-secondary);
    }
  }
}

.c-single-person__sliders {
  display: flex;
  flex-direction: column;
  gap: $space-100;
  padding-top: $space-100;
}