.c-episodes-rating {
  overflow: hidden;
}

.c-episodes-rating__seasons {
  background-color: var(--episodes-rating-bg);
  padding: 2rem;
  border-radius: var(--radius-md);
  display: flex;
  gap: .5rem;
  width: 100%;
  overflow: auto;
  max-height: 50rem;

  & > div {
    position: relative;
    width: max-content;
    display: inline-table;
  }
}

.c-episodes-rating__episodes-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.c-episodes-rating__episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: grey;
  border-radius: var(--radius-sm);
  min-width: 6rem;
  height: 6rem;

  &--nul {
    background-color: #a2336b;
  }

  &--bof {
    background-color: #bd2130;
  }

  &--ok {
    background-color: #fcd25e;
  }

  &--good {
    background-color: #7adf90;
  }

  &--very-good {
    background-color: #28a745;
  }

  &--amazing {
    background-color: green;
  }
}