.c-slider-seasons {

}

.c-slider-seasons__swiper {
  @include max-width(md) {
    margin: 0 calc(var(--page-gutter) * -1) ! important;
    padding: 0 var(--page-gutter) !important;
  }

  .swiper-slide {
    @include max-width(md) {
      width: 80%;
    }
  }
}

.c-slider-seasons__intro {
  margin-bottom: $space-24;
  text-align: center;
}

.person-prev,
.person-next {
  border: 0;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  transition: color var(--transition-in-out);

  &:hover {
    color: var(--text-secondary);
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.c-slider-seasons__nav {
  margin-top: $space-24;
  display: flex;
  gap: $space-10;
  justify-content: center;

  @include max-width(md) {
    display: none;
  }
}