.c-toggle-buttons {
  border: .2rem solid var(--toggle-buttons-border);
  border-radius: 10rem;
  width: fit-content;

  @include max-width(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.c-toggle-buttons__cta {
  padding: 0.5rem $space-20;

  @include max-width(md) {
    width: inherit;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.is-active {
    color: var(--toggle-buttons-active);
    background-color: var(--toggle-buttons-active-bg);
    border-radius: 10rem;
  }
}