.search {
  padding: 5rem 0 10rem 0;
  position: relative;
}

.search__form {
  display: flex;
}

.search__results {
  background-color: var(--search-results-bg);
  position: absolute;
  z-index: 9;
  padding: $space-10;
  border-radius: $space-10;
  color: #000;
  max-width: 50rem;
  left: 0;
  right: 0;
  margin: $space-10 auto 0 auto;
}

.search__results-list {
  display: flex;
  flex-direction: column;
  gap: $space-10;

  li {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    position: relative;
  }

  li img {
    height: 8rem;
  }
}

.search__field {
  display: flex;
  border: 0;
  background-color: var(--search-field-bg);
  padding: $space-10;
  border-radius: $space-10;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  color: #000;
}

.search__link {
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }
}