.c-search__search-field {
  border: 0;
  background-color: #fff;
  padding: 1rem 1.5rem;
  max-width: 50rem;
  width: 100%;
  display: flex;
  margin: 0 auto 3.2rem auto;
  border-radius: var(--radius-full);
}

.c-search__filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: $space-8;
  margin-bottom: $space-24;

  li {
    display: flex;
  }
}

.c-search__content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include min-width(md) {
    grid-template-columns: 20rem 2fr;
    display: grid;
  }
}

.c-search__facets {
  display: flex;
  flex-direction: column;
}

.c-search__reset {
  color: var(--text-white);
  text-decoration: underline;
  margin-bottom: $space-16;

  p {
    opacity: .5;
  }
}

.c-search__facet {
  background-color: var(--color-neutral-2);
  padding: 2rem;
  border-radius: var(--radius-md);
  height: fit-content;

  &:has(.c-search__facet-content--open) .c-search__facet-toggle i {
    transform: rotate(180deg);
  }
}

.c-search__facet-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.c-search__facet-toggle {
  @include min-width(md) {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
  }
}

.c-search__facet-content {
  @include max-width(md) {
    max-height: 0;
    opacity: 0;
    pointer-events: none;

    &--open {
      max-height: inherit;
      opacity: 1;
      pointer-events: all;
    }
  }

  & > div {
    padding-top: $space-16;
  }
}

.c-search__facet-field {
  border: 0;
  background-color: #fff;
  border-radius: var(--radius-full);
  padding: .5rem 1.5rem;
  height: auto;
  width: 100%;
}

.c-search__facet-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}

.c-search__result-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: fit-content;

  @include max-width(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-search__pagination {
  display: flex;
  width: 100%;
  margin-top: 3.2rem;

  &.ais-Pagination--noRefinement {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    gap: .5rem
  }
}