.c-movie-infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.c-movie-infos__overview {
  max-width: 80rem;
}


.c-movie-infos__infos-list {
  display: flex;
  flex-direction: column;
  gap: $space-10;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.c-movie-infos__genres {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  li:not(:last-child)::after {
    content: ',';
  }
}

.c-movie-infos__networks {
  span:not(:last-child)::after {
    content: ', ';
  }
}