.c-slider-movies {
}

.c-slider-movies__swiper {
  @include max-width(md) {
    margin: 0 calc(var(--page-gutter) * -1) ! important;
    padding: 0 var(--page-gutter) !important;
  }

  .swiper-slide {
    @include max-width(md) {
      width: 80%;
    }
  }
}

.c-slider-movies__intro {
  margin-bottom: $space-24;

  &:has(.c-slider-movies__more-cta) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.c-slider-movies__title {
  display: flex;
  flex-direction: column;
  gap: $space-12;

  @include min-width(md) {
    align-items: center;
    flex-direction: row;
  }
}

.swiper-prev,
.swiper-next {
  border: 0;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  transition: color var(--transition-in-out);

  &:hover {
    color: var(--text-secondary);
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.c-slider-movies__nav {
  margin-top: $space-24;
  display: flex;
  gap: $space-10;
  justify-content: end;

  @include max-width(md) {
   display: none;
  }
}